# Ambiente Virtual
/venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Banco de Dados
/banco_de_dados/
*.db
*.sqlite3

# Logs
*.log

# Modelos de Machine Learning e Artefatos
/modelos_ml/
*.pkl

# Arquivos de IDEs e do Sistema Operacional
.vscode/
.idea/
.DS_Store

# Arquivos de dependências do Streamlit (se houver)
.streamlit/

